@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

 /*header*/

 #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #fbfcfcf1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
 }

 #navbar{
    display: flex;
    align-items: center;
    justify-content: center;

 }

 #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
 }

 #navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
 }

 #navbar li a:hover{
    color: #706a57;
    text-shadow: 3px 3px 20px #e1e5eb;
 }

 #navbar li a:hover,
 #navbar li a.active{
    color: #cfe5f3;
 }

 #navbar li a.active::after,
 #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #706a57;
    position: absolute;
    bottom: -4px;
    left: 20px;
 }

.mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

 /*hero*/

 #hero{
    background-image: url(image/Untitled\ design.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
 }

 #hero h4{
    padding-bottom: 15px;
 }

 #hero h1{
    color: whitesmoke;
 }
 
 #hero button{
    background : linear-gradient(90deg,#c0c0c0,#262525);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
     border: 1px solid; 
    height: 10%;
    width: 10rem;
    cursor: pointer;
    overflow: hidden;
 }
 
 span{
    position: absolute;
    background: #fff;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
 }

 @keyframes animate{
    0%
    {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0.5;
    }
 }

 /*feature*/

 #feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 #feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    transition: 1s;
 }

 #feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
 }

 #feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
 }

 #feature .fe-box img:hover{
    transform: scale(1.3);
    z-index: 2;
 }

 /*product*/

 #product1{
    text-align: center;
 }

 #product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
 }

 #product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
 }

 #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
 }
 
 #product1 .pro img{
    width: 100%;
    border-radius: 20px;
 }

 #product1 .pro .description{
    text-align: start;
    padding: 10px 0;
 }

 #product1 .pro .description p{
    font-size: 12px;
    color:rgb(193, 196, 193);
 }

 #product1 .pro .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
 }

 #product1 .pro .description i{
    font-size: 12px;
    color: rgba(243, 181, 25);
 }

 #product1 .pro .description h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #262525;
 }

 #product1 .pro .cart{
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: whitesmoke;
    font-weight: 500;
    color: #222;
    border: 1px solid whitesmoke;
    position: absolute;
    bottom: 20px;
    right: 10px;
 }

 /*Banner*/

 #banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("image/Banner2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
 }

 #banner h4{
    color: white;
    font-size: 16px;
 }

 #banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
 }

 #banner button:hover{
    background: #417291;
    color: whitesmoke;
 }

 /*SM-Banner*/

 #sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("image/banner3.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("image/banner4.jpg");
}

#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner h5{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #417291;
    border: 1px solid #417291;
}

/*NewsLetter*/
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("image/banner5.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: white;
}

#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #417291;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*footer*/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid whitesmoke;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #417291;
}

footer .install img:hover{
    transform: scale(1.3);
    z-index: 2;
    cursor: pointer;
}

/*---Shop Page---*/
#page-header{
    background-image: url("image/banner6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: whitesmoke;
}

#Pagination {
    text-align: center;
}

#Pagination a{
    text-decoration: none;
    background-color: #417291;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

#Pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/*Single-Product*/
#product-details{
    display: flex;
    margin-top: 20px;
}
#product-details .single-product-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#product-details .single-product-details{
    width: 50%;
    padding-top: 30px;
}

#product-details .single-product-details h4{
    padding: 40px 0 20px 0;
}

#product-details .single-product-details h2{
    font-size: 26px;
}

#product-details .single-product-details h6{
    font-size: 12px;
    font-weight: 200;
    line-height: 20px;
}

#product-details .single-product-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#product-details .single-product-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#product-details .single-product-details button{
    background: #417291;
    color: white;
}

/*---About Page---*/
#page-header.about-header{
    background-image: url("image/banner.jpg");
}

#about-header{
    display: flex;
    align-items: center;
}

#about-header img{
    width: 45%;
    height: 65vh;
}

#about-header div{
    padding-left: 40px;
}

#about-app{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/*---Blog-Page---*/

#page-header.blog-header{
    background-image: url("image/banner7.jpg");
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 80%;
    height: 300px;
    border: 1px solid whitesmoke;
}

#blog .blog-detail{
    width: 50%;
}

#blog .blog-detail a{
    text-decoration: none;
    font-size: 11px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-detail a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-detail a:hover{
    color: #417291;
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

/*media Query*/

@media (max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 180px;
        background-color: #fbfcfcf1;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    .mobile{
        display: flex;
        align-items: center;
    }
    .mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #product1 .pro-container{
        justify-content: center;
    }
    #Product1 .pro{
        margin: 15px;
    }
    #banner{
        height: 20vh;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }
    #newsletter .form{
        width: 70%;
    }
}
@media (max-width: 477px){
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    }
    /*single Product*/
    #product-details{
        display: flex;
        flex-direction: column;
    }
    #product-details .single-product-image{
        width: 100%;
        margin-right: 0px;
    }
    #product-details .single-product-details{
        width: 100%;
    }

    /*---About-Page---*/
    #about-header img{
        width: 100%;
        height: 40vh;
        margin-bottom: 20px;
    }
    #about-header{
        flex-direction: column;
    }

    #about-header div{
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;
    }

    /*---Blog-Page---*/
    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-detail{
        width: 50%;
    }
}